p.main{
    text-align: justify;
}
body {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 15px;
}
h2 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 28px;
        text-shadow: 3px 3px 3px #aaa;
}   
h3 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 20px;
        font-style: italic;
        font-weight: 400;
}
